.btn-wrap {
  display: flex;
  align-items: center;
}
.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.2rem;
  height: 4.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: $accent;
  border-radius: 0.5rem;
  transition: all .4s;
  cursor: pointer;
  overflow: hidden;
  &__wrap {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $contrast;
    transition: all .4s;
    transform: scale(0);
    opacity: 0;
    z-index: 1;
  }
  svg {
    margin-right: 1rem;
    width: 2rem;
    height: auto;
    fill: white;
    transition: all .4s;
  }
}